.app_wrapper{
    width: 40rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    top: 4rem;
    border: solid #E0E0E0 2px;
    border-radius: 0.6rem;
    box-shadow: 1px 1px 3px rgba(50, 50, 50, 200)
}

.app_wrapper h3{
    color: #333;
}

.doctor_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.doctor_info img{
    width: 12rem;
    height: 12rem;
    border-radius: 10px;
}

.detail{
    display: flex;
    flex-direction: row;
}
.detail p{
    color: #000;
    font-size: 17px;
    margin-right: 1rem;
}

.appointment{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.app_element{
    display: flex;
    flex-direction: column;
}
.app_element label{
    margin-top: 0.3rem;
    color: #333;
    font-size: 18px;
}
.app_element input{
    width: 14.5rem;
    height: 2.7rem;
    font-size: 18px;
    background-color: #EAEAEA;
    border: none;
    border-radius: 10px;
    padding-left: 0.5rem;
}
.app_element input:focus{
    outline: none;
    border: solid #999 1px;
}

.description{
    width: 15rem;
    height: 6.9rem;
    font-size: 18px;
    resize: none;
    border: none;
    border-radius: 10px;
    border-width: 2px;
    background-color: #EAEAEA;
    padding-top: 0.1rem;
    padding-left: 0.3rem;
}
.description:focus{
    outline: none;
    border: solid #999 1px;
}

.app_btn{
    margin-top: 1.5rem;
    width: 14rem;
    height: 3rem;
    background-color: #36A2EB ;
    border: none;
    border-radius: 20px;
    border-width: 2px;
    color: #333;
    font-size: 18px;
}
.app_btn:hover{
    background-color: #4DA1FF ;
    color: #000;
    cursor: pointer;
}

.server_msg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    z-index: 2;
    background-color: #fff;
    box-shadow: 3px 3px 8px 2px rgb(50, 50, 50, 100);
}

.server_msg p{
    text-align: center;
    font-size: 22px;
    font-style: italic;
}
.server_msg button{
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 7px;
    background-color: #36A2EB;
    color: #333;
}
.server_msg button:hover{
    background-color: #4DA1FF;
    cursor: pointer;
    color: #000;
}

.app_warning{
    display: flex;
    justify-content: space-around;
}
.app_warning button{
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 7px;
    background-color: #36A2EB;
    color: #333;
    font-size: 15px;
}