.record_wrapper{
    background-color: #F5F5F5;
    border-radius: 10px;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 3px 0px #333;
}

.record_wrapper div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 3.5rem;
    position: relative;
    margin-top: 0.25rem;
}

.record_wrapper div label{
    position: absolute;
    left: 0;
    font-size: 20px;
    color: #333;
}

.record_wrapper div input{
    width: 22rem;
    height: 2.5rem;
    position: absolute;
    right: 0;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    border-color: #5AA;
    border-width: 0.1rem;   
    padding-left: 0.4rem;
}

.record_wrapper textarea{
    width: 22rem;
    height: 4.5rem;
    position: absolute;
    right: 0;
    font-size: 18px;
    outline: none;
    resize: none;
    border: solid #5AA;
    border-radius: 10px;
    border-width: 0.1rem;
    margin-top: 1.5rem;
    padding: 0.1rem 0.1rem 0.1rem 0.3rem;
}

.record_wrapper button{
    width: 12rem;
    height: 3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 15px;
    background-color: #36A2EB;
    color: #333;
    font-size: 20px;
}
.record_wrapper button:hover{
    background-color: #4DA1FF;
    color: #000;
    cursor: pointer;
}