.wrapper{
    width: 50em;
    height: 33em;
    border-radius: 10px;
    background-color: #F5F5F5;
    position: relative;
    top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 1px 1px 5px 0px #333;
}

.inputField{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.inputField input{
    width: 20rem;
    height: 3rem;
    border-radius: 8px;
    border-width: 1px;
    padding-left: 0.5rem;
    font-size: 20px;
    box-shadow: 1px 1px 3px 0px #366;
}
.inputField label{
    color: #333;
    font-size: 17px;
}

.submit_btn{
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    background-color: #36A2EB;
    color: #333;
    font-size: 18px;
    margin-top: 2rem;
    position: absolute;
    bottom: 1em;
}
.submit_btn:hover{
    cursor: pointer;
    background-color: #4DA1FF;
    color: #000;
}

.specialty{
    width: 20rem;
    height: 3rem;
    border-width: 1px;
    border-radius: 8px;
    padding-left: 0.5rem;
    font-size: 20px;
    font-style: italic;
    box-shadow: 1px 1px 3px 0px #366;
}
.specialty:hover{
    cursor: pointer;
}

.options{
    position: absolute;
    bottom: 3rem;
    left: 8rem;
    display: flex;
    flex-direction: column;
}

.options button{
    width: 15em;
    height: 2.5em;
    background-color: #F9F9F9;
    color: #333;
    font-size: 16px;
    font-style: italic;
    border: solid #D1D1D1 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0px 0px 2px 0px #233;
}
.options button:hover{
    cursor: pointer;
    background-color: #DADADA;
    color: #000000;
}