body{
    background-image: url('../public/images/clinic_background.jpeg');
    background-size: cover;
}

.home_wrapper{
    position: relative;
    top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_wrapper h1{
    text-align: center;
    color: #226;
    width: 33rem;
}

.home_wrapper div{
    width: 25%;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home_wrapper button{
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    background-color: #00f;
    color: white;
    font-size: 18px;
}
.home_wrapper button:hover{
    cursor: pointer;
    background-color: #22a;
    transform: scale(1.15);
}